<input hidden type="file" [multiple]="true" #uploader accept="application/pdf" (change)="OnUploadFile($event)" />
<p-button icon="pi pi-paperclip" label="Attachment" (click)="uploader.click()"></p-button>
<p-card *ngIf="fileUpload.length > 0">
  <ng-template pTemplate="content">
    <div class="grid m-0 align-items-center" *ngFor="let file of fileUpload; let item = index">
      <i class="align-self-center pi pi-file text-green-500"></i>
      <p class="col-10 mb-0 ml-1 white-space-normal text-overflow-ellipsis">{{ file.name }}</p>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-trash"
        class="p-button-rounded p-button-text p-button-danger col-1"
        (click)="deleteFile(item)"
      ></button>
    </div>
  </ng-template>
</p-card>
